:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light-light-brown: #F5CCA0;
  --dark-dark-brown: #7B3E1A;
  --dark-brown: #994D1C;
  --light-brown: #E48F45;
  --beige: #DECFA3;
  color: var(--dark-dark-brown);
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  width: 170px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: var(--dark-dark-brown);
  font-size: 15px;
  color: var(--beige);
  font-weight: 500;
}

button:hover{
  cursor: pointer;
  background-color: var(--dark-brown);
  color: var(--light-light-brown);
  transition: all 0.3s ease-in-out;
}

a{
  text-decoration: none;
  color: var(--beige);
}

a:hover{
  color: var(--light-brown);
}

span{
  font-weight: bold;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--beige);
}

.home-page h1{
  font-size: 50px;
  font-weight: 700;
  color: var(--dark-dark-brown);
}

.home-page h2{
  font-size: 35px;
  font-weight: 480;
  color: var(--dark-brown);
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 75px;
  background-color: var(--dark-dark-brown);
}

.lomi-logo{
  width: 80px;
  height:80px;
}

.nav-links{
  display: flex;
  gap: 20px;
  font-size: 15px;
  font-weight: 600;
}

.home-intro-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 65px);
  width: 100%;
  background-color: var(--beige);
}

.home-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}

.home-intro-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-intro-text h2{
  margin-bottom: 20px;
}

.home-intro-image img{
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

/* Login / Sign up*/
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background-color: var(--light-light-brown);
  width:max-content;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.light .form-box {
  background-color: var(--dark-dark-brown);
}

.dark .form-box {
  background-color: var(--beige);
}


.form-box h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.dark {
  background-color: var(--dark-dark-brown);
  color: black;
}

.light {
  background-color: var(--beige);
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-wrapper {
  position: relative;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input{
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: 1rem;
}

.eye-toggle {
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.toggle-theme {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  color: #2196f3;
  text-decoration: none;
}

.signup-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.signup-link a {
  color: var(--dark-brown);
}

.signup-link a {
  color: var(--dark-brown);
}

.light .signup-link a {
  color: var(--beige);
}


.signup-link a:hover {
  color: var(--light-brown);
}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: 0px;
}


/*HOME PAGE*/
.menu-page{
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--beige);
}

.menu-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.menu-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.menu-section-header{
  border-bottom: 2px solid var(--dark-dark-brown);
  width: 100%;
}

.menu-section-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px;
}

.menu-section-item img{
  width: 120px;
  height: 120px;
}

.menu-section-description{
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-section-description-text{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-section-cta button{
  width: 100px;
  height: 40px;
  font-size: 12px;
}